<!DOCTYPE html>
<html>
  <head>
    <title>Slides</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script>
    hljs.initHighlightingOnLoad();
    Reveal.initialize();
  </script>
</html>
